html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: productsans;
    src: url(../fonts/ProductSans-Light.ttf);
}

body{
    background-color: rgb(6, 6, 14);
    margin: 0;
    font-family:productsans, arial;
}


#q{
    text-align: center;
    font-weight: lighter;
    font-size:48px;
    margin-top:20px;
}

section{
    padding:120px 15%;
    margin-left:2%;
    margin-right:2%;
    margin-top:1%;
    border-radius: 5px;
}

section h1{
    color:white;
    font-size: 48px;
    margin-top:0;
    font-weight: bold;
    text-align: left;
    background-color: rgba(0,0,0,0);
    text-shadow: 0px, 2px, 5px, white;
    text-shadow: 0px 0px 6px rgb(0, 0, 0);

}

section p{
    color:white;
    text-align: left;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
}

section a{
    float:left;
    display: block;
    color:#000000;
    border:none;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    padding:15px;
    margin-top:30px;
    text-decoration: none;
    text-align: center;
    width:150px;
}

section a:hover{
    background-color: rgb(214,214,214);
}

#amenazas{
    margin-top:0;
    background-image:url(../img/bg_amenazas.png);
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}

#phishing{
    background-image: url(../img/bg_phishing.png); 
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
    background-position: 5px;
}

#aute{
    background-size:cover;
    background-image: url(../img/bg_aute.png);
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}

#monitoreo{
    background-image:url(../img/bg_monitoreo.webp);
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}