
/*

Sé que no es lo más eficiente del mundo hacer esto pero me dio pereza investigar, un saludo

*/

body header a{
    transition: background-color 0.3s, opacity 0.3s ease;
}

body.light header{
    border: 1px solid rgb(221, 221, 221);
}


body.light header,
body.light footer,
body.light main,
body.light .card,
body.light a,
body.light #icon:hover,
body.light section,
body.light section p,
body.light section h1,
body.light section h2,
body.light #q,
body.light #inicio,
body.light section img,
body.light{
    background-color: rgb(255, 255, 255);
    color: rgba(50,50,50);
}

body.light footer a:hover{
    background-color: rgba(0,0,0,0);
    color:black
}
body.light #red{
    color:rgb(175, 0, 0)
}

body.light 

body.light em{
    background-color: rgba(0,0,0,0);
}

body.light strong,em{
    background-color: rgba(0,0,0,0);
}

body.light a.vacio{
    background-color: rgba(0,0,0,0);
    color:#0000FF;
}

body.light .svg, body.light .fix img{
    background-color: rgba(0,0,0,0);
    filter:brightness(100);
}

body.light .fix{
    color:white;
}

body.light a.vacio:hover{
    background-color: rgba(0,0,0,0);
    text-decoration: underline #0000FF;
}

body.light #no a{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(214,214,214);
    color:black;
}

body.light #no a:hover{
    background-color: rgb(214,214,214);
}

body.light section a{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(10, 10, 10);
    color:white;
}

body.light section a:hover{
    background-color: rgb(10, 10, 10);
}

body.light #q{
    text-shadow: none;
}

body.light #no h1{
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
}

body.light #no p{
    text-shadow: 0px 0px 6px rgb(0, 0, 0) !important;
}

body.light #no h1,
body.light #no p{
    color:white;
    background-color: rgba(0,0,0,0);
}

body.light article h1,
body.light article p{
    background-color: rgba(0,0,0,0);
}

body.light section article{
    background-color: rgb(240, 240, 240);
        border: 1px solid rgb(189, 189, 189);
}
body.light #icon img{
    filter:brightness(0)
}

body.light a:hover{
    background-color: rgb(231, 231, 231);
}