*{
    background-color: rgb(6, 6, 14);


}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: productsans;
    src: url(../fonts/ProductSans-Light.ttf);
}

body{
    margin: 0;
    font-family: productsans;
    height:500vh;
}

section{
    padding:0px 10%;
    margin:5%;
}

#banner{
    width:100%;
    height: 300px;
    object-fit: cover;
    float:none;
}

#un{
    margin-left:0;
}
p{
    margin-left:2%;
}
#pro{
    float:right;
    width: 230px;
}
#f{
    margin:0;
    margin-left:4%;
    margin-right:45%;
}

section h1{
    color:rgb(211, 211, 211);
    font-size: 42px;
    text-align: left;
    background-color: rgba(0,0,0,0);
    padding:0px;
}
section h2{
    color:rgb(211, 211, 211);
    font-size: 36px;
    margin-left:2%;
    font-weight: bold;
    text-align: left;
    background-color: rgba(0,0,0,0);
    padding:0px;
}
section p{
    color:rgb(211, 211, 211);
    text-align: left;
    background-color: rgba(0,0,0,0);
    padding:0px;
    margin-bottom:5%;
    font-size: 20px;
    white-space: pre-line;
}
section a{
    display: block;
    color:#000000;
    border:none;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    padding:15px;
    margin:50px;
    margin-left:2%;
    text-decoration: none;
    text-align: center;
    width:220px;
}

.svg{
    background-color: rgba(0,0,0,0);
    float:left;
    position:relative;
    bottom:2px;
    filter:brightness(0)
}

a.vacio{
    all:unset;
    color:#58A6FF;
}

a.vacio:hover{
    all:unset;
    color: #58A6FF;
    text-decoration: underline #58A6FF;
    cursor:pointer;
}

section a:hover{
    background-color: #d4d4d4;
}

article{
    background-color: rgb(18, 17, 39);
    border-radius: 35px;
    padding:2px;
    margin:15px;
    margin-left:2%;
    width:100%;
    text-align: center;
}
article h1{
    font-size:32px;
    margin-left:2%;
}
article p{
    width:80%;
    margin-left:2%;
    text-align: justify;
    font-size:18px;
}

#pasos{
    padding:0%;
}

#pasos p{
    margin-left:2%;
}

#inicio{
    margin-top:50px;
    padding:20px;
}

.img2{
    width: 40%;
    margin-left:2%;
    margin-bottom:5%;
}

.vt{
    width:40%;

}

.vt2{
    width:40%;
}

.cert{
    width: 25%;
    float:right;
}

.avlogo{
    width: 30%;
}

article{
    background-color: rgb(18, 17, 39);
    border-radius: 50px;
    box-sizing: border-box;
    padding: 2px;
    margin:15px;
    width:47%;
    text-align: center;
    float:left;
}