*{
    background-color: rgb(6, 6, 14);
    margin-right:20px;
    margin-left:20px;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #000000;
    overflow: hidden;
    z-index: 1000;
    margin:0px;
}

header a{
    float:right;
    display: block;
    color:#ffffff;
    border:none;
    border-radius: 100px;
    background-color: black;
    padding:10px;
    font-size:14px;
    margin:10px;
    margin-top: 28px;
    text-decoration: none;
    text-align: center;
    width:110px;
    font-weight:bold;
}

header a:hover{
    background: #1b1b1b;
    color:rgb(255, 255, 255);
    cursor:pointer;
}

header img{
    float:left;
    background-color: black;
    width:40px;
    margin:25px;
}

#icon{
    float:left;
    margin-top:0px;
    margin:0px;
    padding:0px;
}

#icon:hover{
    background-color:black;
}

#q{
    text-align: center;
    font-weight: lighter;
    font-size:48px;
}

section{
    padding:150px 5%;
    margin:3%;
}

section h1{
    color:white;
    font-size: 72px;
    font-weight: bold;
    text-align: left;
    background-color: rgba(0,0,0,0);

}

section p{
    color:white;
    text-align: left;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
}

section a{
    float:left;
    display: block;
    color:#ffffff;
    border:none;
    border-radius: 100px;
    background-color: rgb(32, 32, 32);
    padding:15px;
    margin:20px;
    text-decoration: none;
    text-align: center;
    width:150px;
}

section a:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

#amenazas{
    background-image:url(img/bg_amenazas.png);
    background-size: cover;
}

#phishing{
    background-image: url(img/bg_phishing.png); 
    background-size: cover;
    background-position: 5px;
}

#inicio{
    margin-top:120px;
    padding:20px;
}

#aute{
    background-size:cover;
    background-image: url(img/bg_aute.png);
}

#monitoreo{
    background-image:url(img/bg_monitoreo.png);
    background-size: cover;
}

footer{
    top: 0; left: 0; right: 0;
    background-color: #000000;
    padding:100px;
    color:gray;
    text-align: center;
    margin-left:0px;
    margin-right:0px;
}