*{
    background-color: rgb(6, 6, 14);
    margin-left:20px;
    margin-right:20px;

}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial;
    height:300vh;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #000000;
    overflow: hidden;
    z-index: 1000;
    margin:0px;
}
header a{
    float:right;
    display: block;
    color:#ffffff;
    border:none;
    border-radius: 100px;
    background-color: black;
    padding:10px;
    font-size:14px;
    margin:10px;
    margin-top: 28px;
    text-decoration: none;
    text-align: center;
    width:110px;
    font-weight:bold;
}
header a:hover{
    background: #1b1b1b;
    color:rgb(255, 255, 255);
    cursor:pointer;
}
header img{
    float:left;
    background-color: black;
    width:40px;
    margin:25px;
}



#icon{
    float:left;
    margin-top:0px;
    margin:0px;
    padding:0px;
}

#icon:hover{
    background-color:black;
}

section{
    padding:100px 5%;
    margin:3%;
    height: 300vh;
}
section h1{
    color:white;
    font-size: 48px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    padding:10px;
}
section h2{
    color:white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0,0,0,0);
    padding:10px;
}
section p{
    color:white;
    text-align: center;
    background-color: rgba(0,0,0,0);
    padding:20px;
    font-size: 18px;
    white-space: pre-line;
}
section a{
    float:left;
    display: block;
    color:#ffffff;
    border:none;
    border-radius: 100px;
    background-color: rgb(32, 32, 32);
    padding:15px;
    margin:20px;
    text-decoration: none;
    text-align: center;
    width:150px;
}
section a:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

article{
    background-color: rgb(18, 17, 39);
    border-radius: 50px;
    box-sizing: border-box;
    padding: 2px;
    margin:15px;
    width:47%;
    text-align: center;
    float:left;
}
article h1{
    font-size:36px;
    font-family:Verdana;
}

#par{
    float:right;
}

#par{
    text-align: right;
}

#inicio{
    margin-top:50px;
    padding:20px;
}

footer{
    top: 0; left: 0; right: 0;
    background-color: #000000;
    padding:100px;
    color:gray;
    text-align: center;
    margin-left:0px;
    margin-right:0px;
}